@import "./fonts/fonts.css";

body {
  box-sizing: border-box;
  overflow: hidden;
}
.App {
  text-align: center;
  background: #e6e9f2;
}

.circle-image {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 85px;
  height: 85px;
}
.circle-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .circle-image {
    width: 66px;
    height: 66px;
  }
}

.bookmark {
}

.bookmark:hover {
  background-image: url(/src/img/bookmark_active.svg);
}
.bookmark:checked {
  background-image: url(/src/img/bookmark.svg);
}
