@import "./fonts/fonts.css";

body {
  box-sizing: border-box;
  overflow: hidden;
}
.App {
  text-align: center;
  background: #e6e9f2;
}
/* Logo circle image*/
.circle-image {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 85px;
  height: 85px;
}
.circle-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .circle-image {
    width: 66px;
    height: 66px;
  }
}

/* Bookmark Checkbox */
input[type="checkbox"] {
  overflow: hidden;
  white-space: nowrap;
  display: none;
}
/* Stars rating */
.on svg path {
  fill: #38415d;
}
.off svg path {
  fill: #ffffffe4;
  stroke: #38415d;
}
